$TTL 86400
@   IN  SOA  ns1.{{ reverse_zone }}. admin.{{ reverse_zone }}. (
        20220101  ; Serial
        3600      ; Refresh
        1800      ; Retry
        1209600   ; Expire
        86400 )   ; Minimum TTL

; Name servers
{% for node in dns_records.loadbalancer_nodes %}
    IN  NS  ns{{ loop.index }}.{{ reverse_zone }}.
{% endfor %}

; A records for name servers
{% for node in dns_records.loadbalancer_nodes %}
ns{{ loop.index }}.{{ reverse_zone }}.  IN  A  {{ node.ip }}
{% endfor %}

; PTR records for reverse lookup
{% for ip, fqdn in reverse_records.items() %}
{{ ip }} IN PTR {{ fqdn }}.
{% endfor %}
