options {
    listen-on port 53 { any; };
    listen-on-v6 { any; };
    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    allow-query { any; };
    recursion yes;

    forwarders {
        {% for forwarder in dns_forwarders %}
        {{ forwarder }};
        {% endfor %}
    };
};

zone "{{ zone_name }}" IN {
    type master;
    file "{{ zone_file }}";
    allow-update { none; };
};

zone "{{ reverse_zone }}" IN {
    type master;
    file "{{ reverse_zone_file }}";
    allow-update { none; };
};
